body{
    margin: 0;
    padding: 0;
    background-color: #F1F1F1;
    font-family: 'Lato', sans-serif;
}
#wrapper{
    height: 400px;
    width: 350px;
    background-color: #24333C;
    color: white;
    margin: 100px auto;
    box-shadow: 20px 20px 50px black;
    form{
        margin: 20px;
        padding: 1px;
        p{
            text-align: center;
            margin-bottom: 60px;
            font-size: 20px;
            font-weight: 700;
        }
        input[type="name"]{
            background-image: url(img/avatar.png);
            background-repeat: no-repeat;
            background-position: 7px;
        }
        input[type="email"]{
            background-image: url(img/envelope.png);
            background-repeat: no-repeat;
            background-position: 7px;
        }
        input[type="password"]{
            background-image: url(img/key.png);
            background-repeat: no-repeat;
            background-position: 7px;
        }
        input[type="name"],
        input[type="email"],
        input[type="password"]{
            display: block;
            margin: 30px auto;
            padding: 12px 4px 12px 30px;
            width: 80%;
            border: 0;
            background-color: #F1F1F1;
            &:valid{
                border: 3px solid green;
            }
        }
        input[type="email"] + .tick,
        input[type="password"] + .tick{
            background-image: url(img/checked.png);
            background-position: center;

        }
        button{
           margin-left: 80px;
           width: 150px;
           height: 40px;
           font-weight: 700;
           background-color: #1AB188;
           border: none;
           color: #F1F1F1;
           box-shadow: 5px 5px 10px black;
           transition-duration: 0.4s;
           -webkit-transition-duration: 0.4s;
           &:hover{
               background-color: white;
               color: gray;
           }
        }
    }
}