body{
    margin: 0;
    padding: 0;
    background-color: #E13B45;
    font-family: Lato, sans-serif
}
#wrapper{
    background-color: #2A2A2A;
    color: #F1F1F1;
    width: 280px;
    height: 53vh;
    margin: 100px auto;
    box-shadow: 10px 10px 70px 0px rgba(0,0,0,0.75);
    display: block;
    #screen{
        text-align: right;
        padding: 46px;
        padding-top: 50px;
        padding-bottom: 0px;
        font-size: 24px;
    }
    
}

#num-grid{
    background-color: #262626;
    .num-inline{
        padding: 16px;
        padding-top: 0px;
        display: flex;
        :nth-last-child(2) {
            padding-bottom: 16px;
        }
        .num{
            padding: 28px;
            padding-bottom: 0px;
            font-weight: 500;
           
            
        }
        .sym{
            padding: 28px;
            padding-bottom: 0px;
            font-weight: 700;
        }
        #sym-clear{
            color: rgba(248,80,50,1);
        }
    }
}