#wrapper{
    margin: 150px auto;
    height: 350px;
    width: 700px;
    border: 1px solid black;
    display: flex;
    #picture{
        width: 40%;
        background-color: aqua;
    }
    #input-form{
        width:60%;
    }
}